<div class="reply clearfix">
  <!--左侧-->
  <div class="face">
    <%= user_avatar_tag(reply.user, :normal) %>
  </div>
  <!--右侧-->
  <div class="infos">
    <div class="info">
        <span class="name">
            <%= reply.user.login %>
          <!--%= reply_counter + 1 %-->
            <!--%= t("common.floor")%-->
          <%= timeago(reply.created_at) %>
        </span>
      <% if reply.deleted_at.blank? %>
        <span class="opts">
        <%= link_to("回复", "#", 'data-floor' => 1, 'data-login' => reply.user.email,
                    :title => '回复此楼', :class => "icon small_reply" ) %>
        </span>
      <% end %>
    </div>
    <div class="body">
      <%= reply.content %>
    </div>
    <span class="opts"></span>
  </div>
  <!--右侧结束-->
</div>